flows-mv.json
[
    {
        "id": "b756894d0585aa11",
        "type": "tab",
        "label": "Ej-1-Nociones Basicas",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "37605e0b888c71ab",
        "type": "tab",
        "label": "Ej-2-Ejecutar Scripts",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "cb82d2c944ac888e",
        "type": "tab",
        "label": "Ej-3- Guardar en Bd",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "782d2dea8bfead16",
        "type": "tab",
        "label": "Ej-4-Endpoints y cookies",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "18a34520e630a55a",
        "type": "tab",
        "label": "Ej 5-BB con endpoints",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "55ef0ffabe8c9e27",
        "type": "tab",
        "label": "EJ 6 - Dashboards",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "efc7977f28b57083",
        "type": "tab",
        "label": "Testeo",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "ee68f309ebd76fe2",
        "type": "tab",
        "label": "Flujo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "698bdcf08b44c5be",
        "type": "tab",
        "label": "Sist.Principal",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "0a51bbb76f9524d9",
        "type": "subflow",
        "name": "Autenticador",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "fbd378d127c485ca"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1080,
                "y": 200,
                "wires": [
                    {
                        "id": "b352f19e61740149",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1040,
                "y": 440,
                "wires": [
                    {
                        "id": "a8d02311ad3bec2a",
                        "port": 1
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "usernameEnv",
                "type": "str",
                "value": "admin"
            },
            {
                "name": "passwordEnv",
                "type": "str",
                "value": "123"
            }
        ],
        "meta": {},
        "color": "#DDAA99",
        "outputLabels": [
            "Token OK",
            "No Token"
        ],
        "status": {
            "x": 860,
            "y": 60,
            "wires": [
                {
                    "id": "4a72d1072d88a04c",
                    "port": 0
                },
                {
                    "id": "7dfaeecf14f82583",
                    "port": 0
                },
                {
                    "id": "d6d5e6806db8ba09",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "8af27b7d138b7544",
        "type": "subflow",
        "name": "Agregar Historico",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 80,
                "wires": [
                    {
                        "id": "8b6f9eca269692b4"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1220,
                "y": 40,
                "wires": [
                    {
                        "id": "eac6eeb13fe60de7",
                        "port": 0
                    },
                    {
                        "id": "a4bf9ccb98a8748d",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1220,
                "y": 100,
                "wires": [
                    {
                        "id": "eac6eeb13fe60de7",
                        "port": 1
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "Url_base",
                "type": "str",
                "value": "http://servicesoa.mooo.com:8080/"
            }
        ],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "10945febd1bac4e8",
        "type": "group",
        "z": "cb82d2c944ac888e",
        "name": "Crear tabla en BD",
        "style": {
            "stroke": "#c8e7a7",
            "fill": "#e3f3d3",
            "label": true,
            "label-position": "n",
            "color": "#000000"
        },
        "nodes": [
            "cb7b4840f751505e",
            "6f4a4cb62f39ef39",
            "423140a55792cdd3"
        ],
        "x": 74,
        "y": 79,
        "w": 532,
        "h": 82
    },
    {
        "id": "b7e40c12eb7ecee4",
        "type": "group",
        "z": "cb82d2c944ac888e",
        "name": "Simulamos Lectura de Sensor",
        "style": {
            "label": true,
            "stroke": "#ffff7f",
            "fill": "#ffffbf",
            "label-position": "n",
            "color": "#000000"
        },
        "nodes": [
            "9749ef6db3fb1dc1",
            "fdad93f322f49dcc",
            "4737f4ea35f59ea8"
        ],
        "x": 74,
        "y": 199,
        "w": 692,
        "h": 82
    },
    {
        "id": "47bb127782b0f4fd",
        "type": "group",
        "z": "cb82d2c944ac888e",
        "name": "Obtenemos lectura y guardamos en la BD",
        "style": {
            "stroke": "#7fb7df",
            "fill": "#bfdbef",
            "label": true,
            "label-position": "n",
            "color": "#000000"
        },
        "nodes": [
            "f7f3e48e73547885",
            "8591b397d910b594",
            "058b586f6ba2103d",
            "8fb635288c131916",
            "b18d9c5495189dfb",
            "59ee6eab69cd3a9c"
        ],
        "x": 74,
        "y": 319,
        "w": 1212,
        "h": 82
    },
    {
        "id": "dcd6210ba83839aa",
        "type": "group",
        "z": "cb82d2c944ac888e",
        "name": "Levantamos lectura y la colcoamos en un pagina web",
        "style": {
            "stroke": "#b797cf",
            "fill": "#dbcbe7",
            "label": true,
            "label-position": "n",
            "color": "#000000"
        },
        "nodes": [
            "086215ed5b01d8d4",
            "377e8f7642d74317",
            "f6d3dd519c59fefc",
            "c13388cd79f4cbb3",
            "7a25a9dffd16dc13",
            "046d69a4b9323ab7"
        ],
        "x": 74,
        "y": 439,
        "w": 952,
        "h": 142
    },
    {
        "id": "181bbe6cb83b7ae1",
        "type": "group",
        "z": "782d2dea8bfead16",
        "name": "Enviar datos por POST y que se muestren en una pagina",
        "style": {
            "stroke": "#c8e7a7",
            "fill": "#e3f3d3",
            "label": true,
            "label-position": "n",
            "color": "#000000"
        },
        "nodes": [
            "a07e91cf3d039f20",
            "0ab53aa3c10bd4fc",
            "a2c52888c18e44ef"
        ],
        "x": 314,
        "y": 99,
        "w": 532,
        "h": 82
    },
    {
        "id": "2008493837fc0f22",
        "type": "group",
        "z": "782d2dea8bfead16",
        "name": "Manjeo de cookies",
        "style": {
            "stroke": "#7fb7df",
            "fill": "#bfdbef",
            "label": true,
            "label-position": "n",
            "color": "#000000"
        },
        "nodes": [
            "2a80281bfc373c67",
            "ec493b8ed9d8145b",
            "2aab31dbfeb44eee",
            "b707b3d100b130ad",
            "f50cccf62aa904e8",
            "811d15471a25a626",
            "f3c2392bbd986995",
            "585600785ca7cfce",
            "5b9a829cb94fe85a"
        ],
        "x": 234,
        "y": 239,
        "w": 972,
        "h": 242
    },
    {
        "id": "034a62de0d7b5ffd",
        "type": "group",
        "z": "782d2dea8bfead16",
        "name": "Consumir servicio de otra pagina",
        "style": {
            "stroke": "#b797cf",
            "fill": "#dbcbe7",
            "label": true,
            "label-position": "n",
            "color": "#000000"
        },
        "nodes": [
            "19090e3b53771ca8",
            "6559ba82d1dbcf1f",
            "3bbae1d2454cefde",
            "d6510591450966d0"
        ],
        "x": 234,
        "y": 579,
        "w": 772,
        "h": 82
    },
    {
        "id": "945bc84ee7d3cf52",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "793550c9ed1fea18",
        "type": "MySQLdatabase",
        "name": "",
        "host": "docker-mysql",
        "port": "3306",
        "db": "mercado",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "8139463bd7608125",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "6f0cfcae010b7b03",
        "type": "ui_tab",
        "name": "Productos ABM",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c344bfb0b60a162c",
        "type": "ui_tab",
        "name": "Productos Mas..",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e4e08d1207cc8837",
        "type": "ui_group",
        "name": "Agregar",
        "tab": "6f0cfcae010b7b03",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "179bcc3c5142f858",
        "type": "ui_group",
        "name": "Lista",
        "tab": "6f0cfcae010b7b03",
        "order": 2,
        "disp": false,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4c1092646a80ea54",
        "type": "ui_group",
        "name": "Opciones",
        "tab": "c344bfb0b60a162c",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "641878b21657532b",
        "type": "ui_group",
        "name": "Chart",
        "tab": "c344bfb0b60a162c",
        "order": 2,
        "disp": false,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a2d534a762f95492",
        "type": "ui_tab",
        "name": "Grafico",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8bb39f7211ad356d",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "02d9f0336a5415d6",
        "type": "mqtt-broker",
        "name": "Conexion a placa",
        "broker": "192.168.191.44",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "929602daf43b8229",
        "type": "function",
        "z": "0a51bbb76f9524d9",
        "name": "Prepare Request (login)",
        "func": "let url=`${msg.url}login-json?username=${msg.username}&password=${msg.password}`\nmsg.url=url;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 80,
        "wires": [
            [
                "c43c488a0cbc8505",
                "4a72d1072d88a04c"
            ]
        ]
    },
    {
        "id": "fbd378d127c485ca",
        "type": "change",
        "z": "0a51bbb76f9524d9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "username",
                "pt": "msg",
                "to": "usernameEnv",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "password",
                "pt": "msg",
                "to": "passwordEnv",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 240,
        "y": 80,
        "wires": [
            [
                "929602daf43b8229"
            ]
        ]
    },
    {
        "id": "c43c488a0cbc8505",
        "type": "http request",
        "z": "0a51bbb76f9524d9",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 495,
        "y": 200,
        "wires": [
            [
                "a8d02311ad3bec2a"
            ]
        ],
        "l": false
    },
    {
        "id": "4a72d1072d88a04c",
        "type": "change",
        "z": "0a51bbb76f9524d9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Pidiendo token",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 655,
        "y": 40,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "a8d02311ad3bec2a",
        "type": "switch",
        "z": "0a51bbb76f9524d9",
        "name": "",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "200",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 650,
        "y": 220,
        "wires": [
            [
                "f6c5b9a86a7e2cdc",
                "7dfaeecf14f82583"
            ],
            [
                "d6d5e6806db8ba09"
            ]
        ],
        "outputLabels": [
            "OK",
            "No OK"
        ]
    },
    {
        "id": "f6c5b9a86a7e2cdc",
        "type": "json",
        "z": "0a51bbb76f9524d9",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 905,
        "y": 200,
        "wires": [
            [
                "b352f19e61740149"
            ]
        ],
        "l": false
    },
    {
        "id": "b352f19e61740149",
        "type": "change",
        "z": "0a51bbb76f9524d9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.authtoken",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 955,
        "y": 200,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "7dfaeecf14f82583",
        "type": "change",
        "z": "0a51bbb76f9524d9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Token OK",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 745,
        "y": 160,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "d6d5e6806db8ba09",
        "type": "change",
        "z": "0a51bbb76f9524d9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "No Token",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 815,
        "y": 240,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "c262730f8caecead",
        "type": "function",
        "z": "8af27b7d138b7544",
        "name": "Creamos url",
        "func": "//obtnenemos el valor de la variable token\nlet token = JSON.parse(global.get(\"token\"))\n//construimos la url para guardar el historico \nlet url = `${msg.url_base}historico/add?token=${token.authtoken}`;\n//almacenamos la url y permitimos que en caso de error se muestre en los logs\nmsg.url = url\nnode.warn(msg.url);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 80,
        "wires": [
            [
                "85857c529a8ec347"
            ]
        ]
    },
    {
        "id": "85857c529a8ec347",
        "type": "http request",
        "z": "8af27b7d138b7544",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": true,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 890,
        "y": 80,
        "wires": [
            [
                "eac6eeb13fe60de7"
            ]
        ]
    },
    {
        "id": "8b6f9eca269692b4",
        "type": "template",
        "z": "8af27b7d138b7544",
        "name": "Armo peticion (add) body",
        "field": "req.body",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"fechaHoraRecepcion\":\"\",\n    \"rawData\":{\n        \"temperatura\":\"{{payload.rawData.temperatura}}\",\n        \"humedad\":\"{{payload.rawData.humedad}}\",\n        \"presion\":\"{{payload.rawData.presion}}\"\n    },\n    \"ubicacion\":{\n        \"ciudad\":\"{{payload.ubicacion.ciudad}}\",\n        \"region\":\"{{payload.ubicacion.region}}\",\n        \"pais\":\"{{payload.ubicacion.pais}}\",\n        \"coordenadas\":\"{{payload.ubicacion.coordenadas}}\",\n        \"codigoPostal\":\"{{payload.ubicacion.codigoPostal}}\",\n        \"zonaHoraria\":\"{{payload.ubicacion.zonaHoraria}}\"\n    },\n    \"categoria\":\"{{payload.categoria}}\",\n    \"subCategoria\":\"{{payload.subCategoria}}\",\n    \"identificador\":\"{{payload.identificador}}\",\n    \"puntoRocio\":{{payload.puntoRocio}},\n    \"altitud\":{{payload.altitud}}\n}",
        "output": "json",
        "x": 290,
        "y": 80,
        "wires": [
            [
                "6e8b300fa8915683"
            ]
        ]
    },
    {
        "id": "b3094ebea05a631f",
        "type": "rbe",
        "z": "8af27b7d138b7544",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload.rawData.temperatura",
        "topi": "payload.rawData.temperatura",
        "x": 130,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "eac6eeb13fe60de7",
        "type": "switch",
        "z": "8af27b7d138b7544",
        "name": "",
        "property": "payload.status",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "403",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "403",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1090,
        "y": 80,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "6e8b300fa8915683",
        "type": "change",
        "z": "8af27b7d138b7544",
        "name": "Obtenemos url base",
        "rules": [
            {
                "t": "set",
                "p": "url_base",
                "pt": "msg",
                "to": "Url_base",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 80,
        "wires": [
            [
                "c262730f8caecead"
            ]
        ]
    },
    {
        "id": "a4bf9ccb98a8748d",
        "type": "catch",
        "z": "8af27b7d138b7544",
        "name": "",
        "scope": [
            "c262730f8caecead"
        ],
        "uncaught": false,
        "x": 1100,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "fe7b34da155a7705",
        "type": "inject",
        "z": "b756894d0585aa11",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hola desde flow 1",
        "payloadType": "str",
        "x": 450,
        "y": 160,
        "wires": [
            [
                "fb61179c233ef63a"
            ]
        ],
        "info": "Pruueba de inject\n"
    },
    {
        "id": "066d5dfc9d7d2aef",
        "type": "debug",
        "z": "b756894d0585aa11",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 160,
        "wires": []
    },
    {
        "id": "fb61179c233ef63a",
        "type": "delay",
        "z": "b756894d0585aa11",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 640,
        "y": 160,
        "wires": [
            [
                "066d5dfc9d7d2aef",
                "1d05ee910afed6b6"
            ]
        ]
    },
    {
        "id": "1d05ee910afed6b6",
        "type": "link out",
        "z": "b756894d0585aa11",
        "name": "Salida Flow 1 a 2",
        "mode": "link",
        "links": [
            "0678fca5771f36c4"
        ],
        "x": 815,
        "y": 260,
        "wires": []
    },
    {
        "id": "7d2012de3d68c1fd",
        "type": "status",
        "z": "b756894d0585aa11",
        "name": "",
        "scope": [
            "fb61179c233ef63a"
        ],
        "x": 420,
        "y": 320,
        "wires": [
            [
                "a9e47001e6ffab91"
            ]
        ]
    },
    {
        "id": "a9e47001e6ffab91",
        "type": "debug",
        "z": "b756894d0585aa11",
        "name": "resultado status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 320,
        "wires": []
    },
    {
        "id": "0678fca5771f36c4",
        "type": "link in",
        "z": "37605e0b888c71ab",
        "name": "link in 1",
        "links": [
            "1d05ee910afed6b6"
        ],
        "x": 305,
        "y": 140,
        "wires": [
            [
                "8e0c66245a9b3524"
            ]
        ]
    },
    {
        "id": "8e0c66245a9b3524",
        "type": "debug",
        "z": "37605e0b888c71ab",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 140,
        "wires": []
    },
    {
        "id": "e86beedd5d30d52b",
        "type": "inject",
        "z": "37605e0b888c71ab",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 340,
        "wires": [
            [
                "37e28a72ca823620"
            ]
        ]
    },
    {
        "id": "37e28a72ca823620",
        "type": "exec",
        "z": "37605e0b888c71ab",
        "command": "ps -A",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 270,
        "y": 340,
        "wires": [
            [
                "0575a23f75ec9dd1",
                "ddcfa57875c21695"
            ],
            [],
            []
        ]
    },
    {
        "id": "0575a23f75ec9dd1",
        "type": "debug",
        "z": "37605e0b888c71ab",
        "name": "resultado de ps-a",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 260,
        "wires": []
    },
    {
        "id": "ddcfa57875c21695",
        "type": "split",
        "z": "37605e0b888c71ab",
        "name": "separar por lineas",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 530,
        "y": 340,
        "wires": [
            [
                "06f03b9091cb25a7",
                "68a7c6f4a80c396a"
            ]
        ]
    },
    {
        "id": "06f03b9091cb25a7",
        "type": "debug",
        "z": "37605e0b888c71ab",
        "name": "Resultado del split",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 260,
        "wires": []
    },
    {
        "id": "68a7c6f4a80c396a",
        "type": "function",
        "z": "37605e0b888c71ab",
        "name": "function 1",
        "func": "var mensajesProcesados = flow.get(\"mensajesProcesados\");\nvar mensajesDescartados = flow.get(\"mensajesDescartados\");\n\nif (!mensajesProcesados)\n    mensajesProcesados = 0;\nif (!mensajesDescartados)\n    mensajesDescartados = 0;\n\n// Obtengo los valores de la línea\nvar linea = msg.payload.trim();\n\n// Reseteo la variable payload\nmsg.payload = false;\n\nif (linea !== \"\") {\n    mensajesProcesados++;\n    var palabra = linea.split(\" \");\n    msg.payload = palabra;\n\n    if (palabra[0] != \"PID\") {\n        msg.payload = {\n            \"pid\": palabra[0],\n            \"processName\": palabra[4]\n        };\n    } else {\n        mensajesDescartados++;\n    }\n}\nflow.set(\"mensajesProcesados\", mensajesProcesados);\nflow.set(\"mensajesDescartados\", mensajesDescartados);\nglobal.set(\"totalMensajes\", mensajesProcesados + mensajesDescartados);\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 340,
        "wires": [
            [
                "4143424cf29dcd57"
            ]
        ]
    },
    {
        "id": "4143424cf29dcd57",
        "type": "switch",
        "z": "37605e0b888c71ab",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 910,
        "y": 340,
        "wires": [
            [],
            [
                "cb723cb701ceb27d"
            ]
        ]
    },
    {
        "id": "cb723cb701ceb27d",
        "type": "debug",
        "z": "37605e0b888c71ab",
        "name": "Muestra Datos",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 380,
        "wires": []
    },
    {
        "id": "9749ef6db3fb1dc1",
        "type": "inject",
        "z": "cb82d2c944ac888e",
        "g": "b7e40c12eb7ecee4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 240,
        "wires": [
            [
                "4737f4ea35f59ea8"
            ]
        ]
    },
    {
        "id": "fdad93f322f49dcc",
        "type": "mqtt out",
        "z": "cb82d2c944ac888e",
        "g": "b7e40c12eb7ecee4",
        "name": "",
        "topic": "casa/habitacion",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "945bc84ee7d3cf52",
        "x": 660,
        "y": 240,
        "wires": []
    },
    {
        "id": "4737f4ea35f59ea8",
        "type": "function",
        "z": "cb82d2c944ac888e",
        "g": "b7e40c12eb7ecee4",
        "name": "function 3",
        "func": "msg.payload={\n    temperatura: Math.random()*45,\n    humedad: Math.random()*100\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 240,
        "wires": [
            [
                "fdad93f322f49dcc"
            ]
        ]
    },
    {
        "id": "f7f3e48e73547885",
        "type": "mqtt in",
        "z": "cb82d2c944ac888e",
        "g": "47bb127782b0f4fd",
        "name": "",
        "topic": "casa/habitacion",
        "qos": "2",
        "datatype": "json",
        "broker": "945bc84ee7d3cf52",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 360,
        "wires": [
            [
                "8591b397d910b594"
            ]
        ]
    },
    {
        "id": "8591b397d910b594",
        "type": "function",
        "z": "cb82d2c944ac888e",
        "g": "47bb127782b0f4fd",
        "name": "obtenemos el tiempo",
        "func": "msg.payload.tiempo = new Date().toISOString().slice(0, 19).replace(\"T\", \" \");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 360,
        "wires": [
            [
                "058b586f6ba2103d"
            ]
        ]
    },
    {
        "id": "058b586f6ba2103d",
        "type": "rbe",
        "z": "cb82d2c944ac888e",
        "g": "47bb127782b0f4fd",
        "name": "filtra si la temp cambia",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload.temperatura",
        "topi": "topic",
        "x": 620,
        "y": 360,
        "wires": [
            [
                "8fb635288c131916"
            ]
        ]
    },
    {
        "id": "8fb635288c131916",
        "type": "function",
        "z": "cb82d2c944ac888e",
        "g": "47bb127782b0f4fd",
        "name": "Construir SQL",
        "func": "\n// Ahora se prepara la segunda consulta para insertar los datos\nmsg.topic = \"INSERT INTO mediciones (timestamp, temperatura, humedad) \\\n    VALUES ('\" + msg.payload.tiempo + \"', \" + msg.payload.temperatura + \", \" + msg.payload.humedad + \");\";\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 360,
        "wires": [
            [
                "b18d9c5495189dfb"
            ]
        ]
    },
    {
        "id": "b18d9c5495189dfb",
        "type": "mysql",
        "z": "cb82d2c944ac888e",
        "g": "47bb127782b0f4fd",
        "mydb": "793550c9ed1fea18",
        "name": "",
        "x": 990,
        "y": 360,
        "wires": [
            [
                "59ee6eab69cd3a9c"
            ]
        ]
    },
    {
        "id": "59ee6eab69cd3a9c",
        "type": "debug",
        "z": "cb82d2c944ac888e",
        "g": "47bb127782b0f4fd",
        "name": "datos a guardar",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 360,
        "wires": []
    },
    {
        "id": "cb7b4840f751505e",
        "type": "function",
        "z": "cb82d2c944ac888e",
        "g": "10945febd1bac4e8",
        "name": "Crear tabla",
        "func": "msg.topic =\"CREATE TABLE IF NOT EXISTS mediciones( \\\n    id INT AUTO_INCREMENT PRIMARY KEY,\\\n    timestamp DATETIME,\\\n    temperatura FLOAT, \\\n    humedad FLOAT\\\n);\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 120,
        "wires": [
            [
                "6f4a4cb62f39ef39"
            ]
        ]
    },
    {
        "id": "6f4a4cb62f39ef39",
        "type": "mysql",
        "z": "cb82d2c944ac888e",
        "g": "10945febd1bac4e8",
        "mydb": "793550c9ed1fea18",
        "name": "",
        "x": 530,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "423140a55792cdd3",
        "type": "inject",
        "z": "cb82d2c944ac888e",
        "g": "10945febd1bac4e8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 135,
        "y": 120,
        "wires": [
            [
                "cb7b4840f751505e"
            ]
        ],
        "l": false
    },
    {
        "id": "086215ed5b01d8d4",
        "type": "inject",
        "z": "cb82d2c944ac888e",
        "g": "dcd6210ba83839aa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 480,
        "wires": [
            [
                "c13388cd79f4cbb3"
            ]
        ]
    },
    {
        "id": "377e8f7642d74317",
        "type": "http in",
        "z": "cb82d2c944ac888e",
        "g": "dcd6210ba83839aa",
        "name": "",
        "url": "/habitacion",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 540,
        "wires": [
            [
                "c13388cd79f4cbb3"
            ]
        ]
    },
    {
        "id": "f6d3dd519c59fefc",
        "type": "mysql",
        "z": "cb82d2c944ac888e",
        "g": "dcd6210ba83839aa",
        "mydb": "793550c9ed1fea18",
        "name": "",
        "x": 610,
        "y": 500,
        "wires": [
            [
                "7a25a9dffd16dc13"
            ]
        ]
    },
    {
        "id": "c13388cd79f4cbb3",
        "type": "function",
        "z": "cb82d2c944ac888e",
        "g": "dcd6210ba83839aa",
        "name": "Construir SQL",
        "func": "msg.topic=\"SELECT * from mediciones\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 500,
        "wires": [
            [
                "f6d3dd519c59fefc"
            ]
        ]
    },
    {
        "id": "7a25a9dffd16dc13",
        "type": "template",
        "z": "cb82d2c944ac888e",
        "g": "dcd6210ba83839aa",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<style>\n    .data-container {\n        font-family: Arial, sans-serif;\n        margin: 10px;\n        padding: 15px;\n        background-color: #f9f9f9;\n        border-radius: 8px;\n        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);\n    }\n    .data-item {\n        margin-bottom: 12px;\n        padding: 8px;\n        background-color: #fff;\n        border: 1px solid #ddd;\n        border-radius: 5px;\n    }\n    .data-item strong {\n        color: #333;\n    }\n    .data-item span {\n        color: #555;\n    }\n</style>\n\n<div class=\"data-container\">\n    {{#payload}}\n        <div class=\"data-item\">\n            <div><strong>Temperatura:</strong> <span>{{temperatura}} °C</span></div>\n            <div><strong>Humedad:</strong> <span>{{humedad}} %</span></div>\n            <div><strong>Timestamp:</strong> <span>{{timestamp}}</span></div>\n        </div>\n    {{/payload}}\n</div>\n",
        "output": "str",
        "x": 780,
        "y": 500,
        "wires": [
            [
                "046d69a4b9323ab7"
            ]
        ]
    },
    {
        "id": "046d69a4b9323ab7",
        "type": "http response",
        "z": "cb82d2c944ac888e",
        "g": "dcd6210ba83839aa",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 950,
        "y": 500,
        "wires": []
    },
    {
        "id": "a07e91cf3d039f20",
        "type": "http in",
        "z": "782d2dea8bfead16",
        "g": "181bbe6cb83b7ae1",
        "name": "",
        "url": "raw_body",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 420,
        "y": 140,
        "wires": [
            [
                "a2c52888c18e44ef"
            ]
        ]
    },
    {
        "id": "0ab53aa3c10bd4fc",
        "type": "http response",
        "z": "782d2dea8bfead16",
        "g": "181bbe6cb83b7ae1",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 770,
        "y": 140,
        "wires": []
    },
    {
        "id": "a2c52888c18e44ef",
        "type": "template",
        "z": "782d2dea8bfead16",
        "g": "181bbe6cb83b7ae1",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n    <title> Raw Data </title>\n    <body>\n        {{payload}}\n    </body>    \n</html>\n",
        "output": "str",
        "x": 620,
        "y": 140,
        "wires": [
            [
                "0ab53aa3c10bd4fc"
            ]
        ]
    },
    {
        "id": "2a80281bfc373c67",
        "type": "http in",
        "z": "782d2dea8bfead16",
        "g": "2008493837fc0f22",
        "name": "",
        "url": "hello-cookie",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 340,
        "y": 280,
        "wires": [
            [
                "2aab31dbfeb44eee"
            ]
        ]
    },
    {
        "id": "ec493b8ed9d8145b",
        "type": "template",
        "z": "782d2dea8bfead16",
        "g": "2008493837fc0f22",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n  <head>\n    <style>\n      body {\n        font-family: Arial, sans-serif;\n        display: flex;\n        justify-content: center;\n        align-items: center;\n        min-height: 100vh;\n        background-color: #f4f4f9;\n        margin: 0;\n      }\n      .container {\n        max-width: 600px;\n        text-align: center;\n        padding: 20px;\n        background-color: #fff;\n        border-radius: 8px;\n        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);\n      }\n      h1 {\n        color: #333;\n        margin-bottom: 20px;\n      }\n      p {\n        font-size: 18px;\n      }\n      a {\n        color: #007bff;\n        text-decoration: none;\n        margin: 0 10px;\n      }\n      a:hover {\n        text-decoration: underline;\n      }\n      pre {\n        background-color: #f8f9fa;\n        border: 1px solid #ddd;\n        padding: 10px;\n        border-radius: 5px;\n        margin-top: 20px;\n        text-align: left;\n        color: #333;\n      }\n    </style>\n  </head>\n  <body>\n    <div class=\"container\">\n      <h1>Cookies</h1>\n      <p>\n        <a href=\"/add-cookie\">Agregar cookie</a> &bull;\n        <a href=\"/remove-cookie\">Borrar cookie</a>\n      </p>\n      <pre>{{ payload }}</pre>\n    </div>\n  </body>\n</html>\n",
        "output": "str",
        "x": 780,
        "y": 280,
        "wires": [
            [
                "b707b3d100b130ad"
            ]
        ]
    },
    {
        "id": "2aab31dbfeb44eee",
        "type": "function",
        "z": "782d2dea8bfead16",
        "g": "2008493837fc0f22",
        "name": "obtenemos las cookies",
        "func": "//obtenemos las cookies, las guardamos como un string\n//y las almacenamos en el payload\n\nmsg.payload= JSON.stringify(msg.req.cookies,null,4)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 280,
        "wires": [
            [
                "ec493b8ed9d8145b"
            ]
        ]
    },
    {
        "id": "b707b3d100b130ad",
        "type": "http response",
        "z": "782d2dea8bfead16",
        "g": "2008493837fc0f22",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1130,
        "y": 360,
        "wires": []
    },
    {
        "id": "f50cccf62aa904e8",
        "type": "http in",
        "z": "782d2dea8bfead16",
        "g": "2008493837fc0f22",
        "name": "",
        "url": "add-cookie",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 340,
        "y": 360,
        "wires": [
            [
                "811d15471a25a626"
            ]
        ]
    },
    {
        "id": "811d15471a25a626",
        "type": "function",
        "z": "782d2dea8bfead16",
        "g": "2008493837fc0f22",
        "name": "Guardamos Nueva Cookie",
        "func": "//creamos el obj\nmsg.cookies = {};\n//Le aseignamos un clave generada dinaimicamente (algo asi como un id)\nmsg.cookies[\"demo-\" + (Math.floor(Math.random() * 1000))] = Date.now(); \nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 360,
        "wires": [
            [
                "f3c2392bbd986995"
            ]
        ]
    },
    {
        "id": "f3c2392bbd986995",
        "type": "change",
        "z": "782d2dea8bfead16",
        "g": "2008493837fc0f22",
        "name": "Refrescamos la pag",
        "rules": [
            {
                "t": "set",
                "p": "statusCode",
                "pt": "msg",
                "to": "302",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers.location",
                "pt": "msg",
                "to": "/hello-cookie",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 400,
        "wires": [
            [
                "b707b3d100b130ad"
            ]
        ]
    },
    {
        "id": "585600785ca7cfce",
        "type": "http in",
        "z": "782d2dea8bfead16",
        "g": "2008493837fc0f22",
        "name": "",
        "url": "remove-cookie",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 350,
        "y": 440,
        "wires": [
            [
                "5b9a829cb94fe85a"
            ]
        ]
    },
    {
        "id": "5b9a829cb94fe85a",
        "type": "function",
        "z": "782d2dea8bfead16",
        "g": "2008493837fc0f22",
        "name": "Eliminamos Todas las Cookies",
        "func": "//Obtenemos todas las cookies almacenadas en msg.req.cookies y las filtramos de acuerdo/\n//a una condicion\nvar cookieNames = Object.keys(msg.req.cookies).filter(function(cookieName) {\n    return /^demo-/.test(cookieName);\n});\nmsg.cookies = {};\n\n//Aqui borramos todas las cookies asignandoles como clave null\ncookieNames.forEach(function(cookieName) {\n    msg.cookies[cookieName] = null;\n});\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 440,
        "wires": [
            [
                "f3c2392bbd986995"
            ]
        ]
    },
    {
        "id": "19090e3b53771ca8",
        "type": "http in",
        "z": "782d2dea8bfead16",
        "g": "034a62de0d7b5ffd",
        "name": "",
        "url": "/personas",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 340,
        "y": 620,
        "wires": [
            [
                "3bbae1d2454cefde"
            ]
        ]
    },
    {
        "id": "6559ba82d1dbcf1f",
        "type": "http response",
        "z": "782d2dea8bfead16",
        "g": "034a62de0d7b5ffd",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 930,
        "y": 620,
        "wires": []
    },
    {
        "id": "3bbae1d2454cefde",
        "type": "https-node",
        "z": "782d2dea8bfead16",
        "g": "034a62de0d7b5ffd",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://randomuser.me/api/?results=20",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 550,
        "y": 620,
        "wires": [
            [
                "d6510591450966d0"
            ]
        ]
    },
    {
        "id": "d6510591450966d0",
        "type": "template",
        "z": "782d2dea8bfead16",
        "g": "034a62de0d7b5ffd",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!-- Estilos personalizados -->\n<style>\n  .custom-grid .thumbnail {\n    border: 1px solid #ddd;\n    border-radius: 8px;\n    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);\n    transition: transform 0.3s ease, box-shadow 0.3s ease;\n    height: 350px; /* Altura fija para los paneles */\n    display: flex;\n    flex-direction: column;\n    justify-content: space-between;\n  }\n  .custom-grid .thumbnail:hover {\n    transform: scale(1.05);\n    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);\n  }\n  .custom-grid .thumbnail img {\n    border-radius: 8px 8px 0 0;\n    object-fit: cover; /* Asegura que las imágenes se ajusten al contenedor */\n    width: 100%; /* Ocupa el ancho completo */\n    height: 180px; /* Altura fija para las imágenes */\n  }\n  .custom-grid .caption {\n    background-color: #f8f9fa;\n    padding: 15px;\n    border-top: 1px solid #ddd;\n    border-radius: 0 0 8px 8px;\n    flex-grow: 1; /* Permite que el contenido crezca uniformemente */\n    display: flex;\n    flex-direction: column;\n    justify-content: center;\n    text-align: center;\n  }\n  .custom-grid {\n    display: flex;\n    flex-wrap: wrap;\n    gap: 20px;\n    justify-content: center;\n  }\n</style>\n\n<div class=\"container\">\n  <div class=\"custom-grid\">\n    {{#payload.results}}\n    <div class=\"col-lg-3 col-md-4 col-sm-6\">\n      <div class=\"thumbnail\">\n        <img src=\"{{picture.large}}\" alt=\"Imagen de {{name.first}} {{name.last}}\">\n        <div class=\"caption\">\n          <h4>{{name.title}} {{name.first}} {{name.last}}</h4>\n          <p><i class=\"glyphicon glyphicon-envelope\"></i> {{email}}</p>\n        </div>\n      </div>\n    </div>\n    {{/payload.results}}\n  </div>\n</div>\n",
        "output": "str",
        "x": 740,
        "y": 620,
        "wires": [
            [
                "6559ba82d1dbcf1f"
            ]
        ]
    },
    {
        "id": "0b43d7e7ba2b69c3",
        "type": "mysql",
        "z": "18a34520e630a55a",
        "mydb": "793550c9ed1fea18",
        "name": "Creamos DB",
        "x": 570,
        "y": 180,
        "wires": [
            [
                "f89c0e0138bba7fb"
            ]
        ]
    },
    {
        "id": "58772186018f64f1",
        "type": "inject",
        "z": "18a34520e630a55a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 355,
        "y": 180,
        "wires": [
            [
                "d6d1cf30eac75c95"
            ]
        ],
        "l": false
    },
    {
        "id": "d6d1cf30eac75c95",
        "type": "template",
        "z": "18a34520e630a55a",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "CREATE DATABASE IF NOT EXISTS db1 CHARACTER SET utf8;\nCREATE TABLE IF NOT EXISTS db1.personas (\n    id int(11) NOT NULL PRIMARY KEY AUTO_INCREMENT,\n    nombre VARCHAR(50) NOT NULL,\n    apellido VARCHAR(50) NOT NULL,\n    email VARCHAR(200) NOT NULL UNIQUE,\n    fecha_nacimiento DATE\n);",
        "output": "str",
        "x": 435,
        "y": 180,
        "wires": [
            [
                "0b43d7e7ba2b69c3"
            ]
        ],
        "l": false
    },
    {
        "id": "f89c0e0138bba7fb",
        "type": "debug",
        "z": "18a34520e630a55a",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 180,
        "wires": []
    },
    {
        "id": "df51352a0bcd8ae6",
        "type": "http in",
        "z": "18a34520e630a55a",
        "name": "",
        "url": "/add-persona",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 410,
        "y": 260,
        "wires": [
            [
                "4a2a60e22856bee1"
            ]
        ]
    },
    {
        "id": "5aeb4df39c87d918",
        "type": "http response",
        "z": "18a34520e630a55a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 850,
        "y": 260,
        "wires": []
    },
    {
        "id": "9667fecce72fd12b",
        "type": "mysql",
        "z": "18a34520e630a55a",
        "mydb": "793550c9ed1fea18",
        "name": "Creamos persona",
        "x": 670,
        "y": 260,
        "wires": [
            [
                "5aeb4df39c87d918"
            ]
        ]
    },
    {
        "id": "4a2a60e22856bee1",
        "type": "template",
        "z": "18a34520e630a55a",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "INSERT INTO db1.personas (apellido, nombre, email, fecha_nacimiento)\nVALUES (\n    '{{payload.apellido}}',\n    '{{payload.nombre}}',\n    '{{payload.email}}',\n    '{{payload.fecha_nacimiento}}'\n);",
        "output": "str",
        "x": 535,
        "y": 260,
        "wires": [
            [
                "9667fecce72fd12b"
            ]
        ],
        "l": false
    },
    {
        "id": "2dc554ed1f4587c7",
        "type": "catch",
        "z": "18a34520e630a55a",
        "name": "SI captura error...",
        "scope": [
            "9667fecce72fd12b",
            "3938627987ff71c3",
            "5d0bc4efb6e6fe86"
        ],
        "uncaught": false,
        "x": 300,
        "y": 580,
        "wires": [
            [
                "4ddd9037f86939fe"
            ]
        ]
    },
    {
        "id": "6204a8a9f6ea30b3",
        "type": "debug",
        "z": "18a34520e630a55a",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 700,
        "wires": []
    },
    {
        "id": "4ddd9037f86939fe",
        "type": "change",
        "z": "18a34520e630a55a",
        "name": "cambiamos el payload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "error.message",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 580,
        "wires": [
            [
                "6204a8a9f6ea30b3",
                "5107793d44a615b8"
            ]
        ]
    },
    {
        "id": "46781a05c6abec04",
        "type": "http response",
        "z": "18a34520e630a55a",
        "name": "Devolvemos un 500",
        "statusCode": "500",
        "headers": {},
        "x": 1000,
        "y": 580,
        "wires": []
    },
    {
        "id": "5107793d44a615b8",
        "type": "change",
        "z": "18a34520e630a55a",
        "name": "editamos payload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Ha habido un error de servidor",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 580,
        "wires": [
            [
                "46781a05c6abec04"
            ]
        ],
        "info": "Esto se hace por seguridad"
    },
    {
        "id": "f0b099848d642869",
        "type": "http in",
        "z": "18a34520e630a55a",
        "name": "",
        "url": "/personas",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 400,
        "y": 320,
        "wires": [
            [
                "8e7967205cb4855c"
            ]
        ]
    },
    {
        "id": "8e7967205cb4855c",
        "type": "template",
        "z": "18a34520e630a55a",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "SELECT * FROM db1.personas ORDER BY apellido, nombre",
        "output": "str",
        "x": 535,
        "y": 320,
        "wires": [
            [
                "3938627987ff71c3"
            ]
        ],
        "l": false
    },
    {
        "id": "3938627987ff71c3",
        "type": "mysql",
        "z": "18a34520e630a55a",
        "mydb": "793550c9ed1fea18",
        "name": "Select",
        "x": 650,
        "y": 320,
        "wires": [
            [
                "dffc88bdb34adc9c"
            ]
        ]
    },
    {
        "id": "dffc88bdb34adc9c",
        "type": "http response",
        "z": "18a34520e630a55a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 790,
        "y": 320,
        "wires": []
    },
    {
        "id": "dcd67913f21b4a24",
        "type": "comment",
        "z": "18a34520e630a55a",
        "name": "Agregar una persona",
        "info": "",
        "x": 180,
        "y": 260,
        "wires": []
    },
    {
        "id": "c769a550b04d26c6",
        "type": "comment",
        "z": "18a34520e630a55a",
        "name": "Ver listado de personas",
        "info": "",
        "x": 180,
        "y": 320,
        "wires": []
    },
    {
        "id": "4acd6db8b5595511",
        "type": "http in",
        "z": "18a34520e630a55a",
        "name": "",
        "url": "/delete-persona/:id",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 430,
        "y": 380,
        "wires": [
            [
                "dbc7bba9f79bb007"
            ]
        ]
    },
    {
        "id": "dbc7bba9f79bb007",
        "type": "template",
        "z": "18a34520e630a55a",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "DELETE FROM db1.personas WHERE id={{req.params.id}}",
        "output": "str",
        "x": 595,
        "y": 380,
        "wires": [
            [
                "5d0bc4efb6e6fe86"
            ]
        ],
        "l": false
    },
    {
        "id": "5d0bc4efb6e6fe86",
        "type": "mysql",
        "z": "18a34520e630a55a",
        "mydb": "793550c9ed1fea18",
        "name": "Delete",
        "x": 690,
        "y": 380,
        "wires": [
            [
                "9c824b04c1fa20bc"
            ]
        ]
    },
    {
        "id": "9c824b04c1fa20bc",
        "type": "http response",
        "z": "18a34520e630a55a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 810,
        "y": 380,
        "wires": []
    },
    {
        "id": "4605fcefcd80cf02",
        "type": "ui_form",
        "z": "55ef0ffabe8c9e27",
        "name": "",
        "label": "",
        "group": "e4e08d1207cc8837",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Producto",
                "value": "producto",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Precio",
                "value": "precio",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "En stock?",
                "value": "enStock",
                "type": "switch",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "producto": "",
            "precio": "",
            "enStock": false
        },
        "payload": "",
        "submit": "OK",
        "cancel": "Cancelar",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 150,
        "y": 200,
        "wires": [
            [
                "4b3a272a06ea2a22"
            ]
        ]
    },
    {
        "id": "e5768fdb39adf4f0",
        "type": "mysql",
        "z": "55ef0ffabe8c9e27",
        "mydb": "793550c9ed1fea18",
        "name": "Creamos DB",
        "x": 350,
        "y": 120,
        "wires": [
            [
                "a60cbc835258cfd2"
            ]
        ]
    },
    {
        "id": "b9fbf1af02fd75d3",
        "type": "inject",
        "z": "55ef0ffabe8c9e27",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 135,
        "y": 120,
        "wires": [
            [
                "6176d09659eb17d0"
            ]
        ],
        "l": false
    },
    {
        "id": "6176d09659eb17d0",
        "type": "template",
        "z": "55ef0ffabe8c9e27",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "CREATE DATABASE IF NOT EXISTS mercado CHARACTER SET utf8;\nCREATE TABLE IF NOT EXISTS productos (\n    producto VARCHAR(50) NOT NULL,\n    precio DECIMAL(10, 2) NOT NULL,\n    enStock BOOLEAN NOT NULL\n);\n",
        "output": "str",
        "x": 215,
        "y": 120,
        "wires": [
            [
                "e5768fdb39adf4f0"
            ]
        ],
        "l": false
    },
    {
        "id": "a60cbc835258cfd2",
        "type": "debug",
        "z": "55ef0ffabe8c9e27",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 120,
        "wires": []
    },
    {
        "id": "d5d61a5b76f970f9",
        "type": "mysql",
        "z": "55ef0ffabe8c9e27",
        "mydb": "793550c9ed1fea18",
        "name": "Almacenamos Producto",
        "x": 590,
        "y": 200,
        "wires": [
            [
                "545a7338f4d831f6"
            ]
        ]
    },
    {
        "id": "0113ebc7a04a6047",
        "type": "template",
        "z": "55ef0ffabe8c9e27",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "INSERT INTO productos (producto, precio, enStock)\nVALUES ( \n    '{{payload.producto}}',\n    '{{payload.precio}}',\n    '{{payload.enStock}}');\n",
        "output": "str",
        "x": 425,
        "y": 200,
        "wires": [
            [
                "d5d61a5b76f970f9"
            ]
        ],
        "l": false
    },
    {
        "id": "0a0ee3d7520dc8b8",
        "type": "inject",
        "z": "55ef0ffabe8c9e27",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 125,
        "y": 320,
        "wires": [
            [
                "9c48f06a0ade0b3b"
            ]
        ],
        "l": false
    },
    {
        "id": "4b3a272a06ea2a22",
        "type": "function",
        "z": "55ef0ffabe8c9e27",
        "name": "function 4",
        "func": "if(msg.payload.enStock == true){\n    msg.payload.enStock=1;\n}else{\n    msg.payload.enStock=0;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 200,
        "wires": [
            [
                "0113ebc7a04a6047"
            ]
        ]
    },
    {
        "id": "e29975a4f7c0ba80",
        "type": "mysql",
        "z": "55ef0ffabe8c9e27",
        "mydb": "793550c9ed1fea18",
        "name": "Select All",
        "x": 300,
        "y": 320,
        "wires": [
            [
                "9a2a4a8ed58196cc"
            ]
        ]
    },
    {
        "id": "9c48f06a0ade0b3b",
        "type": "template",
        "z": "55ef0ffabe8c9e27",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "SELECT * FROM productos\n",
        "output": "str",
        "x": 185,
        "y": 320,
        "wires": [
            [
                "e29975a4f7c0ba80"
            ]
        ],
        "l": false
    },
    {
        "id": "9a2a4a8ed58196cc",
        "type": "debug",
        "z": "55ef0ffabe8c9e27",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 320,
        "wires": []
    },
    {
        "id": "4e91d93185f9b8c6",
        "type": "ui_button",
        "z": "55ef0ffabe8c9e27",
        "name": "",
        "group": "4c1092646a80ea54",
        "order": 0,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Refrescar",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "refresh",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 520,
        "wires": [
            [
                "dfa462023ccabc44",
                "e302b63814c5e67e"
            ]
        ]
    },
    {
        "id": "ec818ea9592a22c8",
        "type": "mysql",
        "z": "55ef0ffabe8c9e27",
        "mydb": "793550c9ed1fea18",
        "name": "Select top 5 OrderBy Precio",
        "x": 440,
        "y": 520,
        "wires": [
            [
                "424f3f721f807aea"
            ]
        ]
    },
    {
        "id": "dfa462023ccabc44",
        "type": "template",
        "z": "55ef0ffabe8c9e27",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "SELECT * FROM productos ORDER BY precio desc limit 5;\n",
        "output": "str",
        "x": 265,
        "y": 520,
        "wires": [
            [
                "ec818ea9592a22c8"
            ]
        ],
        "l": false
    },
    {
        "id": "40f5e77f60b52273",
        "type": "ui_chart",
        "z": "55ef0ffabe8c9e27",
        "name": "",
        "group": "641878b21657532b",
        "order": 0,
        "width": "8",
        "height": "8",
        "label": "5 productos mas caros",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1060,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "424f3f721f807aea",
        "type": "split",
        "z": "55ef0ffabe8c9e27",
        "name": "",
        "splt": "",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 650,
        "y": 520,
        "wires": [
            [
                "caf2faf866e248e1"
            ]
        ]
    },
    {
        "id": "caf2faf866e248e1",
        "type": "change",
        "z": "55ef0ffabe8c9e27",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "payload.producto",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.precio",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 520,
        "wires": [
            [
                "40f5e77f60b52273"
            ]
        ]
    },
    {
        "id": "ef5b00d165937cad",
        "type": "debug",
        "z": "55ef0ffabe8c9e27",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 580,
        "wires": []
    },
    {
        "id": "efa6653475aa52d9",
        "type": "function",
        "z": "55ef0ffabe8c9e27",
        "name": "Limpiar el grafico",
        "func": "msg.payload = [];\nmsg.topic=[];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 580,
        "wires": [
            [
                "40f5e77f60b52273"
            ]
        ]
    },
    {
        "id": "ab0dd5fa4b386e0d",
        "type": "ui_button",
        "z": "55ef0ffabe8c9e27",
        "name": "",
        "group": "4c1092646a80ea54",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Limpiar Grafico",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "delete",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 600,
        "y": 580,
        "wires": [
            [
                "efa6653475aa52d9"
            ]
        ]
    },
    {
        "id": "545a7338f4d831f6",
        "type": "change",
        "z": "55ef0ffabe8c9e27",
        "name": "Limpiamos Payload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "ae164e840b630663",
        "type": "complete",
        "z": "55ef0ffabe8c9e27",
        "name": "",
        "scope": [
            "545a7338f4d831f6"
        ],
        "uncaught": false,
        "x": 150,
        "y": 460,
        "wires": [
            [
                "dfa462023ccabc44",
                "e302b63814c5e67e"
            ]
        ]
    },
    {
        "id": "80de7e36633ea323",
        "type": "mysql",
        "z": "55ef0ffabe8c9e27",
        "mydb": "793550c9ed1fea18",
        "name": "Select All",
        "x": 440,
        "y": 440,
        "wires": [
            [
                "a95a1d26857842b5"
            ]
        ]
    },
    {
        "id": "e302b63814c5e67e",
        "type": "template",
        "z": "55ef0ffabe8c9e27",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "SELECT * FROM productos;\n",
        "output": "str",
        "x": 325,
        "y": 440,
        "wires": [
            [
                "80de7e36633ea323"
            ]
        ],
        "l": false
    },
    {
        "id": "a95a1d26857842b5",
        "type": "ui_template",
        "z": "55ef0ffabe8c9e27",
        "group": "179bcc3c5142f858",
        "name": "Tabla",
        "order": 0,
        "width": "8",
        "height": "8",
        "format": "<link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\"\n    integrity=\"sha384-BVYiiSIFeK1dGmJRAkycuHAHRg320mUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u\" crossorigin=\"anonymous\">\n\n<table class=\"table\">\n\n    <tr>\n        <td><strong>Producto</strong></td>\n        <td><strong>Precio</strong></td>\n        <td><strong>Stock</strong></td>\n    </tr>\n\n    <tr ng-repeat=\"p in msg.payload\">\n        <td>{{p.producto}}</td>\n        <td>{{p.precio}}</td>\n        <td>{{p.enStock}}</td>\n    </tr>\n\n</table>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 590,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "c449cd6065662c9e",
        "type": "ui_button",
        "z": "55ef0ffabe8c9e27",
        "name": "",
        "group": "4c1092646a80ea54",
        "order": 0,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Generar Excel",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-file",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 680,
        "wires": [
            [
                "42a8d410f2a6aa5c"
            ]
        ]
    },
    {
        "id": "1d63b5a8dc937711",
        "type": "mysql",
        "z": "55ef0ffabe8c9e27",
        "mydb": "793550c9ed1fea18",
        "name": "Select All",
        "x": 420,
        "y": 680,
        "wires": [
            [
                "9d69832499c0efb0"
            ]
        ]
    },
    {
        "id": "42a8d410f2a6aa5c",
        "type": "template",
        "z": "55ef0ffabe8c9e27",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "SELECT * FROM productos;\n",
        "output": "str",
        "x": 305,
        "y": 680,
        "wires": [
            [
                "1d63b5a8dc937711"
            ]
        ],
        "l": false
    },
    {
        "id": "9d69832499c0efb0",
        "type": "excel",
        "z": "55ef0ffabe8c9e27",
        "name": "",
        "file": "/data/output.xls",
        "x": 610,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "a817bbe7b08e511f",
        "type": "http in",
        "z": "55ef0ffabe8c9e27",
        "name": "",
        "url": "/download",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 780,
        "wires": [
            [
                "6355e0dc811c409a"
            ]
        ]
    },
    {
        "id": "727dcd62c1c1a5e2",
        "type": "http response",
        "z": "55ef0ffabe8c9e27",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 850,
        "y": 780,
        "wires": []
    },
    {
        "id": "6355e0dc811c409a",
        "type": "file in",
        "z": "55ef0ffabe8c9e27",
        "name": "Lee Excel",
        "filename": "/data/output.xls",
        "filenameType": "str",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 360,
        "y": 780,
        "wires": [
            [
                "1ccd63ceb2f52c20"
            ]
        ]
    },
    {
        "id": "1ccd63ceb2f52c20",
        "type": "change",
        "z": "55ef0ffabe8c9e27",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers.content-type",
                "pt": "msg",
                "to": "application/vnd-ms-excel",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "headers.content-disposition",
                "pt": "msg",
                "to": "attachment;filename=salida.xls",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 780,
        "wires": [
            [
                "727dcd62c1c1a5e2"
            ]
        ]
    },
    {
        "id": "c975d23a4fd945ef",
        "type": "ui_template",
        "z": "55ef0ffabe8c9e27",
        "group": "4c1092646a80ea54",
        "name": "",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "<h3><a href=\"/download\">Descargar Informe</a></h3>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 680,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "90ac6042d22f5378",
        "type": "watch",
        "z": "55ef0ffabe8c9e27",
        "name": "",
        "files": "/data/output.xls",
        "recursive": "",
        "x": 220,
        "y": 900,
        "wires": [
            [
                "4ffebf47466ecf2b"
            ]
        ]
    },
    {
        "id": "4ffebf47466ecf2b",
        "type": "change",
        "z": "55ef0ffabe8c9e27",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 900,
        "wires": [
            [
                "c975d23a4fd945ef"
            ]
        ]
    },
    {
        "id": "d73fe40e5205246b",
        "type": "inject",
        "z": "55ef0ffabe8c9e27",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 840,
        "wires": [
            [
                "0aba79c195439db1"
            ]
        ]
    },
    {
        "id": "0aba79c195439db1",
        "type": "change",
        "z": "55ef0ffabe8c9e27",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 840,
        "wires": [
            [
                "c975d23a4fd945ef"
            ]
        ]
    },
    {
        "id": "1b9e4a3c50cf5718",
        "type": "http in",
        "z": "efc7977f28b57083",
        "name": "",
        "url": "/historico-all",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 340,
        "y": 200,
        "wires": [
            [
                "1cf565aa8876f530"
            ]
        ]
    },
    {
        "id": "ec47c0571d9e87bd",
        "type": "http response",
        "z": "efc7977f28b57083",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 930,
        "y": 200,
        "wires": []
    },
    {
        "id": "1cf565aa8876f530",
        "type": "https-node",
        "z": "efc7977f28b57083",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://soa24.mooo.com:8080/historico/1",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 550,
        "y": 200,
        "wires": [
            [
                "dcb67c2a31ea86b0",
                "d8dc8a26862f6979"
            ]
        ]
    },
    {
        "id": "dcb67c2a31ea86b0",
        "type": "template",
        "z": "efc7977f28b57083",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>JSON Data Table</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            margin: 20px;\n            background-color: #f9f9f9;\n        }\n        table {\n            width: 100%;\n            border-collapse: collapse;\n            margin: 20px 0;\n            background-color: #fff;\n            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);\n        }\n        th, td {\n            border: 1px solid #ddd;\n            padding: 10px;\n            text-align: left;\n        }\n        th {\n            background-color: #007BFF;\n            color: #fff;\n        }\n        tr:nth-child(even) {\n            background-color: #f2f2f2;\n        }\n        tr:hover {\n            background-color: #f1f1f1;\n        }\n    </style>\n</head>\n<body>\n    <h1>JSON Data Table</h1>\n    <table>\n        <thead>\n            <tr>\n                <th>ID Histórico</th>\n                <th>Fecha y Hora</th>\n                <th>Temperatura</th>\n                <th>Humedad</th>\n                <th>Presión</th>\n                <th>Ciudad</th>\n                <th>Región</th>\n                <th>País</th>\n                <th>Coordenadas</th>\n                <th>Categoría</th>\n                <th>Subcategoría</th>\n                <th>Identificador</th>\n                <th>Altitud</th>\n                <th>Punto de Rocío</th>\n            </tr>\n        </thead>\n        <tbody>\n            {{#payload}}\n            <tr>\n                <td>{{id_historico}}</td>\n                <td>{{fechaHoraRecepcion}}</td>\n                <td>{{rawData.temperatura}}</td>\n                <td>{{rawData.humedad}}</td>\n                <td>{{rawData.presion}}</td>\n                <td>{{ubicacion.ciudad}}</td>\n                <td>{{ubicacion.region}}</td>\n                <td>{{ubicacion.pais}}</td>\n                <td>{{ubicacion.coordenadas}}</td>\n                <td>{{categoria}}</td>\n                <td>{{subCategoria}}</td>\n                <td>{{identificador}}</td>\n                <td>{{altitud}}</td>\n                <td>{{puntoRocio}}</td>\n            </tr>\n            {{/payload}}\n        </tbody>\n    </table>\n</body>\n</html>\n\n",
        "output": "str",
        "x": 740,
        "y": 200,
        "wires": [
            [
                "ec47c0571d9e87bd"
            ]
        ]
    },
    {
        "id": "d8dc8a26862f6979",
        "type": "debug",
        "z": "efc7977f28b57083",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 120,
        "wires": []
    },
    {
        "id": "18098d1522d16263",
        "type": "mqtt in",
        "z": "ee68f309ebd76fe2",
        "name": "",
        "topic": "casa/habitacion/tempHum",
        "qos": "2",
        "datatype": "json",
        "broker": "02d9f0336a5415d6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 180,
        "wires": [
            [
                "468d6f0d16320d7d",
                "c69443334a6d8707"
            ]
        ]
    },
    {
        "id": "468d6f0d16320d7d",
        "type": "subflow:8af27b7d138b7544",
        "z": "ee68f309ebd76fe2",
        "name": "",
        "env": [
            {
                "name": "Url_base",
                "value": "http://soa24.mooo.com:8080/",
                "type": "str"
            }
        ],
        "x": 590,
        "y": 180,
        "wires": [
            [
                "fcecee2e06bac602"
            ],
            [
                "cb268b9ff17efca5"
            ]
        ]
    },
    {
        "id": "c69443334a6d8707",
        "type": "debug",
        "z": "ee68f309ebd76fe2",
        "name": "Datos Recibidos",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 100,
        "wires": []
    },
    {
        "id": "fcecee2e06bac602",
        "type": "debug",
        "z": "ee68f309ebd76fe2",
        "name": "Error: 403 - No autorizado",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "Error 403 - No autorizado",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 140,
        "wires": []
    },
    {
        "id": "cb268b9ff17efca5",
        "type": "debug",
        "z": "ee68f309ebd76fe2",
        "name": "Datos Almacenados en BD",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 200,
        "wires": []
    },
    {
        "id": "7de4b7a2e4130353",
        "type": "mqtt in",
        "z": "698bdcf08b44c5be",
        "name": "",
        "topic": "casa/habitacion/tempHum",
        "qos": "2",
        "datatype": "json",
        "broker": "02d9f0336a5415d6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 80,
        "wires": [
            [
                "cbc83ec7c5495892",
                "146c73fe49f8276a",
                "11b1fc5e52db6280"
            ]
        ]
    },
    {
        "id": "cbc83ec7c5495892",
        "type": "subflow:8af27b7d138b7544",
        "z": "698bdcf08b44c5be",
        "name": "",
        "env": [
            {
                "name": "Url_base",
                "value": "http://tomcata:8080/",
                "type": "str"
            }
        ],
        "x": 450,
        "y": 80,
        "wires": [
            [
                "80f44d5bfc1e3fa9"
            ],
            [
                "80f44d5bfc1e3fa9",
                "9e46545120461a8f"
            ]
        ]
    },
    {
        "id": "146c73fe49f8276a",
        "type": "debug",
        "z": "698bdcf08b44c5be",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 140,
        "wires": []
    },
    {
        "id": "80f44d5bfc1e3fa9",
        "type": "mqtt out",
        "z": "698bdcf08b44c5be",
        "name": "",
        "topic": "casa/habitacion/autenticacion",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "02d9f0336a5415d6",
        "x": 870,
        "y": 60,
        "wires": []
    },
    {
        "id": "11b1fc5e52db6280",
        "type": "template",
        "z": "698bdcf08b44c5be",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "[{\n    \"Temperatura\":\"{{payload.rawData.temperatura}}\",\n    \"Humedad\":\"{{payload.rawData.humedad}}\",\n    \"Presion\":\"{{payload.rawData.presion}}\",\n    \"Altitud\":\"{{payload.altitud}}\",\n    \"Punto_de_Rocio\":\"{{payload.puntoRocio}}\"\n}]",
        "output": "json",
        "x": 140,
        "y": 360,
        "wires": [
            [
                "03f8a2d0f2f90eb7"
            ]
        ]
    },
    {
        "id": "03f8a2d0f2f90eb7",
        "type": "function",
        "z": "698bdcf08b44c5be",
        "name": "",
        "func": "var presion = {};\npresion.topic = 'Presion hPa';\nvar humedad = {};\nhumedad.topic = 'Humedad %';\nvar temperatura = {};\ntemperatura.topic = 'Temperatura °C';\nvar altitud = {};\naltitud.topic = 'Altitud Mts';\nvar puntoDeRocio = {};\npuntoDeRocio.topic = 'Punto De Rocio °C';\n\npresion.payload = msg.payload[0].Presion\nhumedad.payload = msg.payload[0].Humedad\ntemperatura.payload = msg.payload[0].Temperatura\naltitud.payload = msg.payload[0].Altitud\npuntoDeRocio.payload = msg.payload[0].Punto_de_Rocio\n\nreturn [presion, humedad, temperatura , altitud, puntoDeRocio];",
        "outputs": 5,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 300,
        "wires": [
            [
                "f65369cb5405591b"
            ],
            [
                "f65369cb5405591b"
            ],
            [
                "f65369cb5405591b"
            ],
            [],
            [
                "f65369cb5405591b"
            ]
        ]
    },
    {
        "id": "379efbdee2187811",
        "type": "inject",
        "z": "698bdcf08b44c5be",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "9e46545120461a8f",
        "type": "debug",
        "z": "698bdcf08b44c5be",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 120,
        "wires": []
    },
    {
        "id": "f65369cb5405591b",
        "type": "debug",
        "z": "698bdcf08b44c5be",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 320,
        "wires": []
    }
]